# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# binaries
/cmd/dummyserver/dummyserver
/cmd/listserving/listserving
/cmd/load/load
/quiver

# test data
/testdata/*.hfile

# vendoring
/vendor/*/

# go:generate
version.go
